html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-md a, .container-fluid a {
    font-family: 'Anton', sans-serif;
    line-height: 1;
    color: rgb(125, 97, 97);
    text-transform: uppercase;
}
.container-md a:hover, container-fluid a:hover {
  transition: 1s;
}
.navbar-nav a {
    text-transform: none;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    text-transform: lowercase;
}
.gallery {
    padding: 150px 20px 50px;
}
@media screen and (max-width: 768px){
  .gallery{
    padding: 100px 5px 20px;
  }
}
img {
    max-width: 100%;
}
.gallery img {
    padding: 5px;
    border-radius: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: calc(30px + (60 - 30) * ((100vw - 320px)/ (1600 - 320)));
}
.img-container {
  position: relative;
  transform: scale(1);
  transition: 0.9s;
}
.img-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  border-radius: 15px;
}
.img-container > .img_link {
  cursor: pointer;
  color: white;
}
.img-container:hover {
  transform: scale(1.05);
  transition: transform 0.9s ease-in-out;
}
.about {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  padding: 150px 50px 50px;
  font-size: calc(20px + (28 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
@media screen and (max-width: 768px) {
  .text-container {
    padding-top: 40px;
    text-align: left;
  }
}
.text-container {
  text-align: center;
}
.about-img {
  filter: grayscale(10);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 100px 15px 20px;
  }
}
footer {
  background-color: rgb(125, 97, 97);
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  letter-spacing: 3px;
  margin-top: auto;
}
